[submodule "latex"]
	path = latex
	url = https://github.com/lopesivan/latex.git
[submodule "vagrant"]
	path = vagrant
	url = git://github.com/lopesivan/vagrant.git
[submodule "docker"]
	path = docker
	url = git://github.com/lopesivan/docker.git
[submodule "gegl"]
	path = gegl
	url = git://github.com/lopesivan/gegl.git
[submodule "gimp"]
	path = gimp
	url = git://github.com/lopesivan/gimp.git
[submodule "ffmpeg-with-c-and-cpp"]
	path = ffmpeg-with-c-and-cpp
	url = git://github.com/lopesivan/ffmpeg-with-c-and-cpp.git
[submodule "math"]
	path = math
	url = git://github.com/lopesivan/math.git
